<div id="topDiv" class="container-fluid">
    <div id="title">
      <h1>Contact me personally</h1>
       <p>Welcome! The date and time is <%= Time.now.strftime ("%A %B %d or %a %e/%m") %></p>
    </div>
</div>
 <div id="contact" class="container">
  <div class="main-body">
    <div id="contactRow" class="row">
      <div class="col-lg-4 col-md-4 col-xs-12">
        <ul id="contactCss">
          <li><span  class="glyphicon glyphicon-hand-right"></span> www.ryansharpss.com</li>
          <li><span class="glyphicon glyphicon-envelope"> ryansharpss@gmail.com</span></li>
          <li><span class="glyphicon glyphicon-phone-alt"> 0457 706 301</span></li>
          <li><span class="glyphicon glyphicon-globe"> Castaway CL, Boat Harbour</span></li>
        </ul>
      </div>
    <div class="col-lg-8 col-md-8">
      <h2>SAY HELLO</h2><br>
      <form>
        <label for="name">Your Name</label>
        <div class="form-group">
          <input required="required" class="form-control" placeholder="e.g. John Smithers***" type="text" id="name">
        </div>
        <label for="number">Your number</label>
        <div class="form-group">
          <input required="required" class="form-control" placeholder="e.g. 0450 xxx xxx" type="number" id="number">
        </div>
        <label for="email">Your email</label>
        <div class="form-group">
          <input required="required" class="form-control" placeholder="e.g. @johnSmith***" type="email" id="email"> 
        </div>
        <label for="formContact">Tell me your thoughts?</label>
       <textarea class="form-control message-box" rows="5" id="formContact" minlength="10" required="required" placeholder="e.g. I have a website idea!***"></textarea>
        <p id="visible-comment"></p>
        <p id="char-count"></p> <button type="submit" class="btn btn-default" id="button">Submit</button>
        </form><br>
      </div>
    </div>
  </div>
</div>

