/* line 1, /Users/autobot/Desktop/nameofapp/app/assets/stylesheets/static_pages.scss */
#topDiv {
  padding: 0;
  background-color: #3CBC8D;
}

/* line 5, /Users/autobot/Desktop/nameofapp/app/assets/stylesheets/static_pages.scss */
nav {
  color: white;
}

/* line 9, /Users/autobot/Desktop/nameofapp/app/assets/stylesheets/static_pages.scss */
#navBar {
  background-color: black;
}

/* line 15, /Users/autobot/Desktop/nameofapp/app/assets/stylesheets/static_pages.scss */
.navbar-default .navbar-nav > li > a {
  color: white;
}

/* line 18, /Users/autobot/Desktop/nameofapp/app/assets/stylesheets/static_pages.scss */
.navbar-default .navbar-brand {
  color: white;
}

/* line 21, /Users/autobot/Desktop/nameofapp/app/assets/stylesheets/static_pages.scss */
#title {
  text-align: center;
}

/* line 26, /Users/autobot/Desktop/nameofapp/app/assets/stylesheets/static_pages.scss */
h1 {
  font-size: 70px;
}

/* line 31, /Users/autobot/Desktop/nameofapp/app/assets/stylesheets/static_pages.scss */
h2 {
  text-align: center;
}

/* line 35, /Users/autobot/Desktop/nameofapp/app/assets/stylesheets/static_pages.scss */
#aboutText {
  padding-bottom: 100px;
}

/* line 40, /Users/autobot/Desktop/nameofapp/app/assets/stylesheets/static_pages.scss */
#imgHeadingDiv {
  padding: 0;
  color: #3CBC8D;
}

/* line 47, /Users/autobot/Desktop/nameofapp/app/assets/stylesheets/static_pages.scss */
.form-group {
  background-color: #3CBC8D;
}

/* line 52, /Users/autobot/Desktop/nameofapp/app/assets/stylesheets/static_pages.scss */
.row {
  padding-top: 100px;
  margin-left: 150px;
  margin-right: 100px;
}

/* line 57, /Users/autobot/Desktop/nameofapp/app/assets/stylesheets/static_pages.scss */
#imgContainer {
  padding-top: 120px;
  padding-bottom: 120px;
}

/* line 63, /Users/autobot/Desktop/nameofapp/app/assets/stylesheets/static_pages.scss */
#footerbar {
  height: 100%;
}


/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *


 */

