#topDiv {
  padding: 0;
  background-color:  #3CBC8D;
}
nav {
  
  color: #3CBC8D;;
}
#navBar {
  
  background-color: black;
  
}

.navbar-default .navbar-nav>li>a {
    color: white;
}
.navbar-default .navbar-brand {
    color: white;
}
#title {
  
  text-align: center;
  }

h1 {
  
  font-size: 70px;
 
}

h2 {
  font-size: 40px;
  text-align: center;
}
#bookOfWeek {
    padding-top: 100px;
    padding-bottom: 100px;
    width: 100%;
    text-align: -webkit-center;
}
#aboutText {
  padding-bottom: 100px;

}

#imgHeadingDiv {
  padding-top: 70px;
  color:  #3CBC8D;
   text-decoration: underline;
}


.bookText {
  position: relative;
  left: 180px;
  bottom: 90px;
  }

#contactCss {
  
  list-style:none;
   padding-top: 37px;
}

#contactCss li{
  font-size: 16px;
  padding-top: 20px;
   padding-bottom: 20px;
  
}
.carousel-inner>.item>a>img, .carousel-inner>.item>img, .img-responsive, .thumbnail a>img, .thumbnail>img {
    display: block;
    max-width: 100%;
    height: auto;
    margin: auto;
}

#imgContainer {
  
  padding-top: 120px;
  padding-bottom: 120px;

}
#footerbar{
   background-color: black;
  color: black;
  height: 100%;
}

