#topDiv {
  padding: 0;
  background-color: gold;
}
#title {
  
  text-align: center;
  }

h1 {
  
  font-size: 70px;
 
}

h2 {
  
  text-align: center;
}
#aboutText {
  padding-bottom: 100px;

}

#imgHeadingDiv {
  padding: 0;
  background-color: gold;
}
.row {
 padding-top: 100px;
 margin-left: 100px;
 margin-right: 100px;
}
#imgContainer {
  
  padding-top: 120px;
  padding-bottom: 120px;

}
#footerbar{
  
  height: 100%;
}