<p id="notice"><%= notice %></p>

<!-- products section starts here -->

<div id="product_backgound" class="container-fluid">

  <h2>Products</h2>

  <div class="row">
   <div class="col-sm-2 col-md-4">
      <div class="fright">
        <%= link_to 'New product', new_product_path, class: 'btn btn-default' %>
      </div>
    </div><!-- END col -->
    <div class="row">
   <div class="col-sm-2 col-md-4">
      <div class="fright">
        <%= link_to 'New product', new_product_path, class: 'btn btn-default' %>
      </div>
    </div><!-- END col -->
    <br><br>

    <%= render @products %>

  </div><!-- END row -->  

</div><!-- END container-fluid -->
  


